<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  title Promises
  link(rel="stylesheet", href="../css/index.css")
body
  include modules/header.jade
  .wrapper
    h2 Hello! This is first page!! I try this!
  include modules/footer.jade
  